.card {
  position: relative;
  padding: 20px;
  background: var(--background1);
  box-shadow: 0 6px 4px #ccc;
}

.card__title {
  position: sticky;
  top: 0;
  padding-bottom: 5px;
  border-bottom: var(--background2) solid 2px;
  font-size: 20px;
}

.card__bookmark {
  position: absolute;
  top: 25px;
  right: 30px;
  transform: scale(2);
}

.card__question {
  margin: 30px 0;
  font-family: 'Caveat';
  font-weight: 200;
  font-size: 25px;
}

.card__tags {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.card__tags > li {
  display: inline-block;
  background: var(--background2);
  margin: 4px 2px;
  padding: 7px;
  border-radius: 5px;
}

.card__button {
  display: block;
  margin: 30px auto;
}

.card__answer {
  display: none;
}
